
  <p  class ="alert" bg-color="red"><%= notice %></p>
       
<div align='left'>

<table>
  <td align='left' colspan= '4'>
<%= render '/show_links' %>
  </td>
  <td id = 'new_employee'>
    <h1>Dash Boards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dash_boards.each do |dash_board| %>
      <tr>
        <td><%= link_to 'Show', dash_board %></td>
        <td><%= link_to 'Edit', edit_dash_board_path(dash_board) %></td>
        <td><%= link_to 'Destroy', dash_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dash Board', new_dash_board_path %>


  </td>
</table>
</div>


<script       src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

              <script>
$(document).ready(function() {

$('.hide_show').hide();
});

    $('.tabs').click(function(){
        var parm = $(this).text();
         var id1 = 'detail_links_';
       var id2 = new String(parm.split(" ")[0]);
       var res = id1.concat(id2);
       var res1 = new String(res.replace(/\n|\r/g, ""));
        if ($('#'+ res1).is(':hidden') == true){
         $('#'+ res1).show();
        $.ajax({
        url:"/check_link_details?name="+parm,
         async: false,
        success: function(result){
              if (result.stat == true){
                        load_links(parm);

              }
              else{
              load_pages(parm);
              }
        }
                               
        });
      }
      else{
 $('#'+ res1).hide(); 
      }
     });

    
function load_links(x){
var pars = x;
$.ajax({
        url:"/load_link_details?name="+pars,
         async: false,
          success: function(result){
       var id1 = 'detail_links_';
       var id2 = new String(pars.split(" ")[0]);
       var res = id1.concat(id2);
       var res1 = new String(res.replace(/\n|\r/g, ""));
            $('#'+ res1).html(result);

}});

}
function load_pages(param){
alert('no details');


}

function checkDetail(e){


alert(e);

$.ajax({
        url:"/employees/new",
         async: false,
          success: function(result){
            $('#new_employee').html(result);

}});

}



              </script>