<style>
.blue{

    display: inline-block;
  font-family: 'Gabriela', serif;
  color: #b78726;
  font-size: 1.3em;
  border-radius: 5px;
  background: #e8bbe2; /* alpha value for background */
  

}
.level{
  display: inline-block;
  font-family: 'Gabriela', serif;
  color: #b78726;
  font-size: 1.0em;
  border-radius: 5px;
  background: #c6efef;


}
.high{
  display: inline-block;
  border-radius: 5px;
  font-size: 1.8em;

background-color: #e5e3e3;


}
</style>

<div class="col-sm-4"  style="background-color: #e5e3e3;    outline: 1px solid lightgray;">
<%for emp in @ceo_emp%>
 
<%manager =  emp.subordinates%>
<% count1 = manager.size%>
<%if !manager.blank?%>
<%count2 = 0%>
<%for cnt in manager%>
<%count2 +=cnt.subordinates.size  %>
<%end%><%end%>
<%count = count1 + count2%>
 <div  align="left",  id ="<%emp.name%>">
<%= image_tag("plus-button-green.png",:class => "plus",:id=> "#{emp.name}_plus", size: "20x20", onclick: "checksub('#{emp.name}','plus')".html_safe)%>
<%= image_tag("minus.jpeg", :class => "minus", :id => "#{emp.name}_minus" ,size: "20x20", onclick: "checksub('#{emp.name}','minus')".html_safe)%>
<a href="javascript:onclick=show_employee(<%= emp.id%>)" class="high" >
<%= emp.name+'('+count.to_s+')'%></a>

<br /><br />

</div> 
<%@sub = emp.subordinates%>
<%if !@sub.blank?%>
<div id = "<%= emp.name%>" style ="display:none;">
<%for sub in @sub%>
 
  

<a href="javascript:onclick=show_employee(<%= sub.id%>)" class="blue">

<%= sub.name+'('+count2.to_s+')'%></a>
<%#= link_to 'Show', sub %>
<br />

<%@level3 = sub.subordinates %>
<%if !@level3.blank?%>
<div >
<%for level3 in @level3%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="javascript:onclick=show_employee(<%= level3.id%>)" class="level">

<%= level3.name%></a>
<br />
<%end%>
</div>
<%end%>
<%end%>
</div>
<%end%>
<%end%>

</div>
<div id= 'showing_employee' class ="col-sm-6" style ="display:none;" ></div>
<script>
	$('.minus').hide();
	function checksub(x,y){
var res =  new String(x);
if (y == 'plus'){
	$('#'+res+'_plus').hide();
  	$('#'+res+'_minus').show();
$('#'+res).show();
    
}
else{
$('#'+res+'_plus').show();
$('#'+res+'_minus').hide();
$('#'+res).hide();

}

	}


function show_employee(emp_id){
$('#showing_employee').show();
$.ajax({
        url:"/employees/"+emp_id,
         async: false,
          success: function(result){

            $('#showing_employee').html(result);

}});

}

</script>
