
<h2>Log in</h2>

<%#= form_for  @besapp, url: {action: :create} do |f| %>
<%= form_for User.new, :url => {:controller => 'user', :action => "create"} do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

 

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
