
<%= form_for @employee do |form| %>

  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

  <legend><b><%= ("Company Information")%></b></legend>

  <table align='center' class="tablecss" cellspacing=0 cellpadding=5 align=center width="100%" >
<tr>
  <td colspan = "1"><%= form.label :'Employee Id' %></td>
  <td colspan = "1"><%= form.text_field :id %></td>
</tr>

<tr>
  <td colspan = "1"><%= form.label :Name %></td>
  <td colspan = "1"><%= form.text_field :name %></td>
</tr>
<tr>
 <td colspan = "1"><%= form.label :Designation %></td>
 <td colspan = "1"><%= form.text_field :designation %></td>
</tr>

<tr>
  <td colspan = "1"><%= form.label "Employee Type" %></td>
  <td colspan = "1"> <%= form.select :level, ["Employee", "Manager", "CEO"], :prompt=> "select type" %></td>
</tr>
<tr id ='report'>
  
<tr>
  <td colspan = "1"><%= form.label :Image %></td>
  <td colspan = "1"><%= form.file_field :image_url %></td>
</tr>
<tr>
  <td colspan = "1"><%= form.label :'Address for Communication' %></td>
  <td colspan = "1"><%= form.text_area :addres %></td>
</tr>
<tr>
  <td colspan = "1"><%= form.label :Dob %></td>
  <td colspan = "1"><%= date_select("employees", "written_on",start_year: 1985, order: [:day, :month, :year]) %></td>
</tr>

</tr>


</table>
</fieldset>





<fieldset>
<legend><b><%= ("Personal Information")%></b></legend>
<table align='center' class="tablecss" cellspacing=0 cellpadding=5 align=center width="100%" >
  <tr>
 <td colspan = "1"><%= form.label :Permanent_Addres %></td>
 <td colspan = "1"><%= form.text_field :address1 %></td>
</tr>
  <tr>
  <td colspan = "1"><%= form.label :City %></td>
  <td colspan = "1"><%= form.text_field :city %></td>
</tr>
<tr>
 <td colspan = "1"><%= form.label :Postal_code %></td>
 <td colspan = "1"><%= form.text_field :postal_code %></td>
</tr>
<tr>
  <td colspan = "1"><%= form.label :Region %></td>
  <td colspan = "1"><%= form.text_field :region %></td>
</tr>

<tr>
 <td colspan = "1"><%= form.label :Aadhar_no %></td>
 <td colspan = "1"><%= form.text_field :aadhar %></td>
</tr>
 <tr>
  <td colspan = "1"><%= form.label :Pan_no %></td>
  <td colspan = "1"><%= form.text_field :pan %></td>
</tr>

 <tr>
 <td colspan = "1"><%= form.label :Phone_no %></td>
 <td colspan = "1"><%= form.text_field :phone %></td>
</tr>
<tr>
 <td colspan = "1"><%= form.label :Blood_group %></td>
 <td colspan = "1"><%= form.text_field :blood %></td>
</tr>
<tr>
 <td colspan = "1"><%= form.label :'Marital status' %></td>
 <td colspan = "1"><%= form.text_field :marital %></td>
</tr>
 

<tr>
  
</tr>
 </table>

</fieldset>



<div align = 'center'>
       <%=submit_tag "Save",{:controller => 'employee', :action => 'create',:id=>'submit_data',:class=>"buttons"}%>
  </div>

<% end %>
<script type="text/javascript">
  $('#action').show();
</script>



<script type="text/javascript" data-turbolinks-eval=false>
  $('#action').hide();
 function clickme(data1,data2){
    alert(data1);
     
   }

$('#report').hide();
$('#employee_level').change(function(){
var selectedText = $(this).find("option:selected").text();
if (selectedText == "CEO"){
$('#report').hide();

}
else{
$.ajax({
        url:"/check_employee_type?type="+selectedText,
         async: false,
          success: function(result){
alert(result);
$('#report').show();


$('#report').html(result);
alert(123);
}});
}
});




</script>
